body{
  background-color: #7661fA;
}

.whiteScreen{
  background-color:white;
  position: absolute;
  width: 375px;
  height: 375px;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  border-radius: 20px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.inside{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.logo{
  width:150px;
  padding-top:30px;
  padding-bottom:35px;
}

.buttons{
  display: flex;
  flex-direction: column;
  gap:13px;
} 

.button1{
  font-size:20px; 
  border-radius: 10px;
  width:125px;
  height:40px;
  color:white;
  background-color: #5337ff;
  border:1px solid #5337ff;
}

.button2{
  font-size:20px; 
  border-radius: 10px;
  width:125px;
  height:40px;
  color:#5337ff;
  background-color: white;
  border:1px solid #5337ff;
}