.search .searchIcon {
    position: absolute;
    border-radius: 10px;
}

.search{
    width:400px;
    margin-bottom:10;
}

.searchIcon{
    padding: 15px;
    padding-left:5px;
    min-width:40px;
    border-radius: 10px;
    cursor: pointer;
}

.input{
    width: 100%;
    padding:5px;
    padding-left:40px;
    text-align: left;
    border-radius: 30px;
}